u {
  text-decoration-color: rgb(14, 118, 168);
}
.bi-trash{
  color: #0E76A8;
  font-size: x-large;
}

a{
  text-decoration: none;
  color: white;
}

.spinner-container{
  margin-top: 20%;
  margin-bottom: 20%;
}

.tip-msg {
  border-radius: 10px;
  padding: 10px;
  border-left: 6px solid #2979ff;
  background-color: #bbdefb;
}