.all-navbar-wrapped {
  z-index:1;
  position: sticky;
  top: 0;
}
.navbar {
  box-shadow: 0 6px 2px -2px rgba(0,0,0,.2);
}
.search {
  width: 50%;
  height: 2em;
}

.subheader {
  font-size: 1.2em;
}

i {
  font-size: 1.5em;
}
