<div class="bg-info shadow-sm">
  <div class="mt-5 p-5 container">
    <h4 class="mb-4 card-title mt-3 mx-2"><u>CATE</u>GORÍAS <b>MÁS RELEVANTES</b></h4>
    <!-- only showing big devices -->
    <div class="d-none d-sm-block">
      <div class="row">
        <div class="col-sm-3">
          <div class="btn card border border-footer rounded-3 shadow-sm border-1 producto">
              <img src="../../../../../assets/images/laptop.png" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <a href=""><b>Portátiles</b></a>                      
              </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="btn card border border-footer rounded-3 shadow-sm border-1 producto"   routerLink="/moviles">
              <img src="../../../../../assets/images/moviles_categorias.png" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <a href=""><b>Móviles</b></a>                      
              </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="btn card border border-footer rounded-3 shadow-sm border-1 producto">
              <img src="../../../../../assets/images/electrodomesticos_categoria.png" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <a href=""><b>Electrodomésticos</b></a>                      
              </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="btn card border border-footer rounded-3 shadow-sm border-1 producto">
              <img src="../../../../../assets/images/tele_categorias.webp" class="card-img-top img-fluid" style="height: 195px;" alt="...">
              <div class="card-body">
                <a href=""><b>Televisión</b></a>                      
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end showing big devices -->
    <!-- only showing in small devices -->
    <div class="d-block d-sm-none">
        <div class="btn mt-2 bg-white d-flex justify-content-start border border-footer rounded-3 shadow-sm border-1 producto">
          <img src="../../../../../assets/images/laptop.png" class="card-img-top img-fluid" style="max-width: 20%; height: auto;" alt="...">
          <a href="" class="p-2"><b>Portátiles</b></a>  
        </div>
        <div class="btn mt-2 bg-white d-flex justify-content-start border border-footer rounded-3 shadow-sm border-1 producto">
          <img src="../../../../../assets/images/moviles_categorias.png" class="card-img-top img-fluid" style="max-width: 20%; height: auto;" alt="...">
          <a href="" class="p-2"><b>Móviles</b></a>  
        </div>
        <div class="btn mt-2 bg-white d-flex justify-content-start border border-footer rounded-3 shadow-sm border-1 producto">
          <img src="../../../../../assets/images/electrodomesticos_categoria.png" class="card-img-top img-fluid" style="max-width: 20%; height: auto;" alt="...">
          <a href="" class="p-2"><b>Electrodomésticos</b></a>  
        </div>
        <div class="btn mt-2 bg-white d-flex justify-content-start border border-footer rounded-3 shadow-sm border-1 producto">
          <img src="../../../../../assets/images/tele_categorias.webp" class="card-img-top img-fluid" style="max-width: 20%; height: auto;" alt="...">
          <a href="" class="p-2"><b>Televisión</b></a>  
        </div>
    </div>
    <!-- end block showing small devices -->
  </div>
</div>
