<div class="footer-wrapper">
  <div class="mt-5 p-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h4 class="mt-3">Sobre Futura</h4><br>
          <a href="">¿Quiénes somos?</a><br><br>
          <a href="">Comparador de móviles</a><br><br>
          <a href="">Descuento de estudiantes</a><br><br>
          <a href="">¡Estamos contratando!</a><br><br>
          <a href="">Análisis y guías</a><br><br>
          <a href="">Blog</a><br><br>
          <a href="">Prensa</a><br><br>
          <a href=""><i class="mx-2 bi bi-twitter" style="font-size: 30px;"></i></a>
          <a href=""><i class="mx-2 bi bi-facebook" style="font-size: 30px;"></i></a>
          <a href=""><i class="mx-2 bi bi-instagram" style="font-size: 30px;"></i></a>
        </div>
        <div class="col-sm-4">
          <h4 class="mt-3">Ayuda</h4><br>
          <a href="">¿Cómo comprar aquí?</a><br><br>
          <a href="">Pago</a><br><br>
          <a href="">Garantía de Futura</a><br><br>
          <a href="">Entrega</a><br><br>
          <a href="">Atención al cliente</a><br><br>
        </div>
        <div class="col-sm-4">
          <h4 class="mt-3">Condiciones Legales</h4><br>
          <a href="">Condiciones generales de uso</a><br><br>
          <a href="">Condiciones generales de venta</a><br><br>
          <a href="">Protección de datos</a><br><br>
          <a href="">Cookies</a><br><br>
          <a href="">Protección de datos</a><br><br>
          <a href="">Aviso Legal</a><br><br>
          <div class="col-sm-6 bg-white rounded-3 shadow-sm border-2" style="margin-bottom: 0;">
            <p class="p-2" style="font-weight: 300;padding-bottom: 0px;margin-bottom: 0px;">Pago 100% seguro</p>
            <a href=""><i class="pago mx-2 bi bi-paypal" style="font-size: 30px;"></i></a>
            <a href=""><i class="pago mx-2 bi bi-credit-card" style="font-size: 30px;"></i></a>
            <a href=""><i class="pago mx-2 bi bi-shield-check" style="font-size: 30px;"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
