.footer-wrapper {
  clear: both;
  position: relative;
  z-index: 1;
  height: -3em;
  margin-top: 40em;
}

u {
  text-decoration-color: rgb(14, 118, 168);
}

a{
  text-decoration: none;
  color: white;
}

i.pago{
  color: black;
}

a:hover{
  color: rgb(80, 185, 233);
}

h4{
  color: white;
}

.bi:hover{
  color: rgb(80, 185, 233);
}
