<!-- SECCION ULTIMAS NOVEDADES -->
<div class="p-5 bg-info">
  <div class="container">
    <h4 class="mb-4 card-title mt-2 mx-2"><u>ÚLTI</u>MAS <b>NOVEDADES</b></h4>
    <div class="row">
      <div class="col-sm-3 btn card border border-footer rounded-3 shadow-sm border-1 producto">
        <img src="../../../assets/images/ps5.png" class="card-img-top img-fluid" alt="...">
          <div class="mt-4 card-body">
            <p>Consola PlayStation 5 Digital Edition"</p>
            <a href=""><b>399.90</b></a>                      
          </div>
      </div>
      <div class="col-sm-3 offset-sm-1 btn card border border-footer rounded-3 shadow-sm border-1 producto">
          <div class="text-center">
            <img src="../../../assets/images/iphone13promax.webp" class="card-img-top img-fluid" alt="..." style="max-width: 40%;">
          </div>
          <div class="card-body">
            <p>Apple iPhone 13 Pro Max</p>
            <a href=""><b>1259.30</b></a>                      
          </div>
      </div>
      <div class="col-sm-3 offset-sm-1 btn card border border-footer rounded-3 shadow-sm border-1 producto">
          <div class="text-center">
            <img src="../../../assets/images/bf2042.webp" class="card-img-top img-fluid" alt="..." style="max-width: 50%;">
          </div>
          <div class="card-body">
            <p>Battlefield 2042</p>
            <a href=""><b>61.99</b></a>                      
          </div>
      </div>
    </div>
  </div>
</div>